body {
  background-color: rgb(213, 218, 218);
}

.content {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
}

.tegelane {
  border-style: solid;
  height: 135px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  border-width: 2px;
  border-color: gray;
  background-color: rgb(238, 229, 217);
}

.kustuta {
  text-align: center;
}

.text {
  text-align: center;
  font-size: 24px;
}