body {
  background-color: rgb(209, 218, 250);
}

.content {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
}

.tegelane {
  border-style: solid;
  height: 165px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  border-width: 2px;
  border-color: gray;
  background-color: rgb(246, 246, 255);
}

.kustuta {
  text-align: center;
}

.text {
  text-align: center;
  font-size: 24px;
}

.lang {
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
}

.input {
  width: 300px;
}
