.lang {
  width: 30px;
  height: 30px;
}

.map {
  height: 300px;
}

.tableBtn {
 display: flex;
 justify-content: space-evenly;
}

form {
  width: 400px;
}

.category {
  width: 150px;
}

.categoryContainer {
  display: flex;
  width: 400px;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items: center;
}

.selectedProductImg {
  height: 420px;
  width: 300px;
}

.selectedProduct {
  display: flex;
  font-size: 24px;
  background-color: rgb(230, 230, 230);
}

.selectedProductInfo {
  height: 420px;
  display: grid;
}

.selectedProductPrice {
  font-size: 52px;
  display: flex;
  align-items: flex-end;
}

#dropdown-basic-button {
  width: 400px;
}

.dropDownItem {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.backBtn {
  width: 300px;
  margin-top: 5px;;
}

.activeCategory {
  font-weight: bold;
  text-decoration: underline;
}

.categories {
  display: flex;
  gap: 20px;
  background-color: rgb(206, 206, 206);
}

.categories > div {
  cursor: pointer;
}

.parcelMachines {
  background-color: rgb(235, 235, 235);
  display: flex;
}

.parcelMachineSelect {
  width: 400px;
}

.parcelMachineType {
  width: 100px;
}

.active {
  border: 1px solid green;
}

.inactive {
  border: 1px solid red;
}

.carousel {
  width: 502px;
  margin: auto;
}