.items {
display: flex;
}

.start-time {
width: 70px;
text-align: center;
}

.stage-code {
width: 50px;
font-weight: bold;
text-align: end;
margin-right: 10px;
}

.stage-name {
width: 300px;
font-weight: bold;
}

.stage-distance {
width: 150px;
}

.stage-status {
width: 100px;
}

.date {
margin: 15px;
font-size: 24px;
background-color: rgb(228, 228, 228);
}