body {
  background-color: beige;
}

.App {
  text-align: center;
}

.btn {
  background-color: green;
  color: rgb(192, 191, 191);
}

.btn:hover {
  height: 100px;
}

.btn:active {
  cursor: grab;
}

p {
  color: blue;
}

p:hover {
  font-size: 24px;
}

.menuu {
  display: flex;
  justify-content:space-evenly;
  background-color: rgb(180, 174, 120);
  padding: 5px;
}
