body {
  background-color: beige;
}

.App {
  text-align: center;
}

button {
  background-color: green;
  color: rgb(192, 191, 191);
}

button:hover {
  height: 100px;
}

button:active {
  cursor: grab;
}

p {
  color: blue;
}

p:hover {
  font-size: 24px;
}
